---
---
<!doctype html>
<html lang="en-US">
    <head>
        {% include head.html %}
    </head>

    <body>
        <header>
            {% include header.html %}
        </header>

        <main>
            <section class="about">
                {% for item in site.about %}
                    <p>{{ item }}</p>
                {% endfor %}
                <p>

                </p>
            </section>
        </main>

        <nav class="projects">
            {% include navigation.html %}
        </nav>
    </body>
</html>
