---
---
<!doctype html>
<html lang="en-US">
    <head>
        {% include head.html %}
    </head>

    <body class="index">
        <header>
            {% include header.html %}
        </header>

        <nav>
            {% include navigation.html %}
        </nav>

        <main class="index">
            <div class="content-artwork">
                <div class="square-container blue1-container"><div class="square-container-inside"></div></div>
                <div class="square-container black1-container"><div class="square-container-inside"></div></div>
                <div class="square-container black2-container"><div class="square-container-inside"></div></div>
                <div class="square-container gray1-container"><div class="square-container-inside"></div></div>
                <div class="square-container gray2-container"><div class="square-container-inside"></div></div>
                <div class="square-container red1-container"><div class="square-container-inside"></div></div>
                <div class="square-container yellow1-container"><div class="square-container-inside"></div></div>
            </div>
        </main>

    </body>
</html>
