---
---
<!doctype html>
<html lang="en-US">
    <head>
        {% include head.html %}
    </head>

    <body>
        <header>
            {% include header.html %}
        </header>

        <main class="projects">
            <ul class="list">
                {% for item in site.categories.projects reversed %}
                <li>
                    <a href="{{ item.url | prepend: site.baseurl }}">
                        <h3 class="project-heading">{{ item.project.title }}</h3>
                        <video class="logo" loop muted autoplay playsinline disableRemotePlayback title="{{ item.project.title }}">
                            <source src="{{ item.project.logo | prepend: site.baseurl }}" type="video/webm">
                            <source src="{{ item.project.logo_backup | prepend: site.baseurl }}" type="video/mp4">
                        </video>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </main>

        <nav class="projects">
            {% include navigation.html %}
        </nav>
    </body>
</html>
