<body class="{{ page.class }}">
    <header class="{{ page.class }}">
      <h1 class="callout">
          <a href="/">{{ site.author }}</a>
      </h1>
    </header>

    <nav class="{{ page.class }}">
        <ul class="site-links">
            <li><a class="callout" href="{{ site.baseurl | append: '/projects' }}">Projects</a></li>
            <li><a class="callout" href="{{ site.baseurl | append: '/research' }}">Research</a></li>
            <li><a class="callout" href="{{ site.baseurl | append: '/about' }}">About</a></li>
        </ul>
        <ul class="contact-links">
            <li><a class="second-callout" title="email" href="mailto:{{ site.email }}">Email</a></li>
            <li><a class="second-callout" title="Github" href="{{ site.github }}">GitHub</a></li>
            <li><a class="second-callout" title="LinkedIn" href="{{ site.linkedin }}">LinkedIn</a></li>
            <li><a class="second-callout" title="Instagram" href="{{ site.instagram }}">Instagram</a></li>
        </ul>
    </nav>