<main class="{{ page.class }}">
    <h2 class="{{ page.class }}">{{ page.project.title }}</h2>

{%- for section in page.sections %}
    <section class="{{ page.class }}">
    {%- for element in section %}
        {%- if element.raw %}
        {{ element.raw }}

        {%- elsif element.p %}
        <p class="{{ page.class }}">{{ element.p }}</p>

        {%- elsif element.bq %}
        <blockquote class="{{ page.class }}"><p>{{ element.bq }}</p></blockquote>

        {%- elsif element.ul %}
        <ul class="{{ page.class }}">
            {%- for li in element.ul %}
            <li class="{{ page.class }}">{{ li }}</li>
            {%- endfor %}
        </ul>

        {%- elsif element.figimg %}
        <figure class="{{ page.class }} figimg margin-center">
            {{ element.figimg }}
            <figcaption><p>{{ element.figcaptionp }}</p></figcaption>
        </figure>

        {%- elsif element.figul %}
        <figure class="{{ page.class }} acknowledge">
            <figcaption><p>{{element.figcaption}}</p></figcaption>
            <ul class="{{ page.class }}">
                {%- for li in element.figul %}
                <li class="{{ page.class }}"><p>{{ li }}</p></li>
                {%- endfor %}
            </ul>
        </figure>

        {%- endif %}
    {%- endfor %}
    </section>
{%- endfor %}

{%- for element in page.media %}
    {%- if element.type == "image" %}
    <div class="{{ page.class }} featured">
        <img class="{{ page.class }}" src="{{ element.url | prepend: site.baseurl }}" alt="{{ element.alt }}" />
    </div>

    {%- elsif element.type == "video" %}
    <div class="{{ page.class }} featured video-wrapper">
        <iframe title="Featured Video" class="{{ page.class }}" src="https://player.vimeo.com/video/{{ element.id }}" allowfullscreen frameborder="0"></iframe>
    </div>

    {%- elsif element.type == "figure4" %}
    <div class="{{ page.class }} featured">
        <figure class="{{ page.class }} featured4">
            {%- for img in element.imgs %}
            <img class="{{ page.class }}" src="{{ img.src | prepend: site.baseurl }}" />
            {%- endfor %}
            <figcaption><p>{{ element.caption }}</p></figcaption>
        </figure>
    </div>

    {%- elsif element.type == "figure3" %}
    <div class="{{ page.class }} featured">
        <figure class="{{ page.class }} featured3">
            {%- for img in element.imgs %}
            <figure>
                <img class="{{ page.class }}" src="{{ img.src | prepend: site.baseurl }}" alt="{{ img.alt }}" />
                <figcaption><p>{{ img.caption }}</p></figcaption>
            </figure>
            {%- endfor %}
        </figure>
    </div>

    {%- elsif element.type == "figure3h" %}
    <div class="{{ page.class }} featured">
        <figure class="{{ page.class }} featured3h">
            {%- for img in element.imgs %}
            <figure>
                <img class="{{ page.class }}" src="{{ img.src | prepend: site.baseurl }}" alt="{{ img.alt }}" />
            </figure>
            {%- endfor %}
            <figcaption><p>{{ element.caption }}</p></figcaption>
        </figure>
    </div>

    {%- endif %}
{%- endfor %}
</main>