<h3 class="{{ page.class }} post">{{ page.project.title }}</h3>

{% for item in page.contents %}
<p class="{{ page.class }} post">{{ item }}</p>
{% endfor %}

{% for image in page.images %}
<img class="{{ page.class }}" src="{{ image.url | prepend: site.baseurl }}" alt="{{ image.alt }}" />
{% endfor %}

{% for video in page.videos %}
<div class="video-wrapper">
    <iframe class="{{ page.class }}" src="https://player.vimeo.com/video/{{ video.id }}" width="500" height="281" allowfullscreen frameborder="0"></iframe>
</div>
{% endfor %}
