<div class="content-graphic">
    <div class="square-container blue1-container"><div class="square-container-inside"></div></div>
    <div class="square-container black1-container"><div class="square-container-inside"></div></div>
    <div class="square-container black2-container"><div class="square-container-inside"></div></div>
    <div class="square-container gray1-container"><div class="square-container-inside"></div></div>
    <div class="square-container gray2-container"><div class="square-container-inside"></div></div>
    <div class="square-container red1-container"><div class="square-container-inside"></div></div>
    <div class="square-container yellow1-container"><div class="square-container-inside"></div></div>
</div>
