    <ul class="site-links">
        <li><a class="callout" href="{{ site.baseurl | append: "/projects.html" }}">Projects</a></li>
        <li><a class="callout" href="{{ site.baseurl | append: "/research.html" }}">Research</a></li>
        <li><a class="callout" href="{{ site.baseurl | append: "/about.html" }}">About</a></li>
    </ul>

    <ul class="contact">
        <li><a class="second-callout" title="email" href="mailto:{{ site.email }}">Email</a></li>
        <li><a class="second-callout" title="Github" href="{{ site.github }}" target="_blank">GitHub</a></li>
        <li><a class="second-callout" title="LinkedIn" href="{{ site.linkedin }}" target="_blank">LinkedIn</a></li>
        <li><a class="second-callout" title="Instagram" href="{{ site.instagram }}" target="_blank">Instagram</a></li>
    </ul>