<!doctype html>
<html lang="en-US">
<head>
    {% include head.html %}
</head>
<body class="{{ page.class }}">
    <header class="{{ page.class }}">
        {% include header.html %}
    </header>
    <nav class="{{ page.class }}">
        {% include nav.html %}
    </nav>
    <main class="{{ page.class }}">
    {% if page.type == "index" %}
        {% include main-index.html %}
    {% elsif page.type == "about" %}
        {% include main-about.html %}
    {% elsif page.type == "projects" %}
        {% include main-projects.html %}
    {% elsif page.type == "research" %}
        {% include main-projects.html %}
    {% else %}
        {% include main-post.html %}
    {% endif %}
    </main>
</body>
</html>
