    {%- if figelem.type == "video" %}
    <figure class="{{ page.class }} {{ figelem.class }} video-wrapper">
    {%- else %}
    <figure class="{{ page.class }} {{ figelem.class }}">
    {%- endif -%}

    {%- if figelem.type == "video" %}
       <iframe title="Featured Video" class="{{ page.class }}" src="https://player.vimeo.com/video/{{ figelem.id }}" allowfullscreen frameborder="0"></iframe>
        {%- elsif figelem.type == "ul" %}
            <figcaption>
                <p>{{figelem.caption}}</p>
            </figcaption>
            <ul class="{{ page.class }}">
                {%- for li in figelem.content %}
                <li class="{{ page.class }}">
                    <p>{{ li }}</p>
                </li>
                {%- endfor %}
            </ul>

        {%- elsif figelem.type == "multifigure" or figelem.type == "single"%}
            {%- for img in figelem.content %}
            <img class="{{ page.class }}" src="{{ img.src | prepend: site.baseurl }}" />
            {%- endfor %}
            <figcaption>
                <p>{{ figelem.caption }}</p>
            </figcaption>

    {%- elsif figelem.type == "figure" %}
        {%- for img in figelem.content %}
        <img class="{{ page.class }}" src="{{ img.src | prepend: site.baseurl }}" alt="{{ img.alt }}" />
        {%- if figelem.caption %}
        <figcaption>
            <p>{{ figelem.caption }}</p>
        </figcaption>
        {%- endif %}
        {%- endfor %}

        {%- elsif figelem.type == "figure3" %}
            {%- for img in figelem.imgs %}
            <figure>
                <img class="{{ page.class }}" src="{{ img.src | prepend: site.baseurl }}" alt="{{ img.alt }}" />
                <figcaption>
                    <p>{{ img.caption }}</p>
                </figcaption>
            </figure>
            {%- endfor %}

        {%- elsif figelem.type == "figure3h" %}
            {%- for img in element.imgs %}
            <figure>
                <img class="{{ page.class }}" src="{{ img.src | prepend: site.baseurl }}" alt="{{ img.alt }}" />
            </figure>
            {%- endfor %}
            <figcaption>
                <p>{{ element.caption }}</p>
            </figcaption>

        {%- elsif figelem.type == "figure4" %}
            {%- for img in element.imgs %}
            <img class="{{ page.class }}" src="{{ img.src | prepend: site.baseurl }}" />
            {%- endfor %}
            <figcaption>
                <p>{{ element.caption }}</p>
            </figcaption>

        {%- endif %}
    </figure>