    {%- if figelem.type == "video" %}
    <figure class="{{ page.class }} {{ figelem.class }} video-wrapper">
    {%- else %}
    <figure class="{{ page.class }} {{ figelem.class }}">
    {%- endif -%}

    {%- if figelem.type == "video" %}
       <iframe title="Featured Video" class="{{ page.class }}" src="https://player.vimeo.com/video/{{ figelem.id }}" allowfullscreen frameborder="0"></iframe>

    {%- elsif figelem.type == "ul" %}
        {%- if figelem.caption %}
        <figcaption>
            <p>{{ figelem.caption }}</p>
        </figcaption>
        {%- endif %}
        <ul class="{{ page.class }}">
            {%- for li in figelem.content %}
            <li class="{{ page.class }}">
                <p>{{ li }}</p>
            </li>
            {%- endfor %}
        </ul>

    {%- elsif figelem.type == "figure" %}
        {%- for img in figelem.content %}
        {%- if figelem.content.size > 1 %}
        <figure>
        {%- endif %}
            <img class="{{ page.class }}" src="{{ img.src | prepend: site.baseurl }}" alt="{{ img.alt }}" />
            {%- if img.caption %}
            <figcaption>
                <p>{{ img.caption }}</p>
            </figcaption>
            {%- endif %}

        {%- if figelem.content.size > 1 %}
        </figure>
        {%- endif %}
        {%- endfor %}

        {%- if figelem.caption %}
        <figcaption>
            <p>{{ figelem.caption }}</p>
        </figcaption>
        {%- endif %}
    {%- endif %}
    </figure>