<li class="preview">
    <a href="{{ item.url | prepend: site.baseurl }}" class="preview">
        <video loop muted autoplay playsinline disableRemotePlayback title="{{ item.project.title }}" class="preview">
            <source src="{{ item.project.preview_main | prepend: site.baseurl }}" type="video/webm">
            <source src="{{ item.project.preview_backup | prepend: site.baseurl }}" type="video/mp4">
        </video>

        {% assign aboutWords = item.project.title | split:' ' %}
        <h2 class="preview-heading">
        {% for h in aboutWords %}
            <span class="preview-heading">{{ h }}</span>
        {% endfor %}
        </h2>
    </a>
</li>