<li class="post">
    <a href="{{ item.url | prepend: site.baseurl }}">
        <h3 class="project-heading">{{ item.project.title }}</h3>
        <video loop muted autoplay playsinline disableRemotePlayback title="{{ item.project.title }}" class="preview">
            <source src="{{ item.project.preview_main | prepend: site.baseurl }}" type="video/webm">
            <!-- <source src="{{ item.project.preview_backup | prepend: site.baseurl }}" type="video/mp4"> -->
        </video>
    </a>
</li>