<!doctype html>
    <html lang="en-US">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-T32TYY4385"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-T32TYY4385');
        </script>
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.meta.description }}">
        <meta name="keywords" content="{{ page.meta.keywords }}">
        <meta name="author" content="{{ site.author }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index,follow">
        <meta property="og:title" content="Willy Nolan - {{ page.title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ site.url | append: page.url }}" />
        <meta property="og:image" content="{{ site.url | append: android-chrome-512x512.png }}" />
        <meta property="og:image:alt" content="A computer graphic triangle. Click to visit willynolan.com" />
        <meta name="theme-color" content="{{ site.faviconcolor }}">
        <meta name="msapplication-TileColor" content="{{ site.faviconcolor }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" sizes="32x32" href="/_rootfiles/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/_rootfiles/favicon-16x16.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="stylesheet" href="{{ site.baseurl | append: '/assets/css/main.css' }}">
        {%- if page.mathjax %}
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
            tex2jax: {
              inlineMath: [ ['$','$'], ["\\(","\\)"] ],
              processEscapes: true
            }
          });
        </script>
        <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
        {%- endif %}
    </head>

    <body class="{{ page.class }}">
        <header class="{{ page.class }}">
          <h1 class="callout">
              <a href="/">{{ site.author }}</a>
          </h1>
        </header>

        <nav class="{{ page.class }}">
            <ul class="site-links">
                <li><a class="callout" href="{{ site.baseurl | append: '/projects' }}">Projects</a></li>
                <li><a class="callout" href="{{ site.baseurl | append: '/research' }}">Research</a></li>
                <li><a class="callout" href="{{ site.baseurl | append: '/about' }}">About</a></li>
            </ul>
            <ul class="contact-links">
                <li><a class="second-callout" title="email" href="mailto:{{ site.email }}">Email</a></li>
                <li><a class="second-callout" title="Github" href="{{ site.github }}">GitHub</a></li>
                <li><a class="second-callout" title="LinkedIn" href="{{ site.linkedin }}">LinkedIn</a></li>
                <li><a class="second-callout" title="Instagram" href="{{ site.instagram }}">Instagram</a></li>
            </ul>
        </nav>