@use "variables" as *;

a.about-link {
    color: var(--color-link-highlight);
}

section.exhibitions {
    margin-top: 2em;
}

section.exhibitions > h2 {
    font-size: var(--font-size-callout-small);
    text-transform: lowercase;
}

ul.exhibitions > li {
    font-size: var(--font-size-main-small);
    margin-bottom: .35em;
}

section.exhibitions > p {
    font-size: var(--font-size-main-small);
}

@media only screen and (min-width: $first-bp) {
    main.about {
        grid-column: 2 / -1;
        margin-right: 3em;
    }
}

@media only screen and (min-width: $second-bp) {
    main.about {
        grid-column: 2 / -2;
        margin-right: 0;
    }
}
