main.about {
    align-self: center;
    font-size: .6em;
}

section.exhibitions {
    font-size: .45em;
}

.callout.exhibitions {
    text-transform: lowercase;
}

@media only screen and (min-width: $first-bp) {
    main.about {
        grid-column: 2 / -2;
        font-size: 1em;
    }
}