main.about {
    font-size: 1.1rem;
}

section.exhibitions {
    margin-top: 2em;
}

.callout.exhibitions {
    text-transform: lowercase;
}

section.exhibitions > p {
    font-size: .95rem;
}

@media only screen and (min-width: $first-bp) {
    main.about {
        grid-column: 2 / -1;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: $second-bp) {
    main.about {
        grid-column: 2 / -2;
    }
}