nav.projects {
    margin-top: 1.5em;
}

ul.list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-gap: 2em;
    max-width: 1500px;
}

.project-heading {
    font-size: 1.25rem;
    text-transform: lowercase;
    text-align: center;
    margin-bottom: 0;
    color: var(--main-caption-color);
}

a.post {
    display: block;
    background: red;
    padding-top: 100%;
}

video.preview {
    margin: 0 auto;
}

@media only screen and (min-width: $first-bp) {
    body {
        width: initial;
    }

    header.projects {
        grid-column: 1 / -1;
    }

    .site-links.projects {
        grid-column: 1;
    }
}

@media only screen and (min-width: $category-first-bp) {
    header.projects {
        grid-column: 2 / -1;
    }

    .site-links.projects {
        grid-column: 2;
    }
}