nav.projects {
    margin-top: 1.5em;
}

ul.list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--project-grid-min), var(--project-grid-max)));
    grid-gap: 2em;
    justify-content: center;
}

li.post {
    position: relative;
    padding-top: calc(100% - 4px); // Double the border
    border: 2px solid black;
}

a.post {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h3.project-heading {
    font-size: 1.25rem;
    text-transform: lowercase;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    color: var(--main-caption-color);
    background: black;
}

span.project-heading {
    color: white;
}

span.project-heading:nth-child(2) {
    color: blue;
}

video.preview {
    margin: 0 auto;
}



@media only screen and (min-width: $first-bp) {
    body {
        width: initial;
    }

    .site-links.projects {
        grid-column: 1;
    }

    .project-heading {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: $category-first-bp) {
    .header.projects, .site-links.projects {
        grid-column: 2;
    }
}