html {
    box-sizing: border-box;
    font-size: 18px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img, video {
    display: block;
    max-width: 100%;
}

h2 {
    font-family: var(--font-default);
    color: var(--color-silver);
    display: block;
    font-size: 1rem;
    line-height: 1;
}

html, body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 5px;
    font-family: var(--font-default);
    font-size: 1.8em;
    font-weight: 600;
    background-color: var(--color-bg);
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-transform: lowercase;
}

nav {
    grid-column: 1 / -1;
    grid-row: 8 / -1;
    font-size: .5em;
}