html {
    box-sizing: border-box;
    font-size: 18px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

.link-highlight {
    color: var(--link-highlight-color);
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    list-style-type: none;
}

img, video {
    display: block;
    max-width: 100%;
}

h2 {
    font-family: var(--font-default);
    color: var(--color-silver);
    display: block;
    font-size: 1rem;
    line-height: 1;
}

.nobr {
    white-space: nowrap;
}

// Page layout
html, body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: var(--max-body-width);
    font-family: var(--font-default);
    font-size: 1.8em;
    font-weight: 600;
    background-color: var(--color-main-bg);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto 6fr;
}

header, main, nav {
    margin-left: var(--margin-sides);
    margin-right: var(--margin-sides);
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-transform: lowercase;
}

main {
    grid-column: 1 / -1;
    font-size: var(--main-font-size-small);
}

nav {
    grid-column: 1 / -1;
    grid-row-end: -1;
    font-size: .9rem;
    text-transform: lowercase;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
}

.site-links {
    grid-column: 1;
    line-height: 1.2;
}

.contact-links {
    grid-column: 3;
    line-height: 1.64;
}

.callout, .second-callout {
    font-weight: 600;
    margin: 0;
}

.callout {
    font-size: 2rem;
}

.second-callout {
    font-size: 1.1rem;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: $first-bp) {
    body {
        width: 80%;
        margin: 0 auto;
    }

    header {
        grid-column: 2 / -1;
    }

    nav {
        margin-bottom: 1.8rem;
    }

    .contact-links {
        grid-column: 4;
    }

    .site-links {
        grid-column: 2;
    }

    .callout {
        font-size: 2.7rem;
    }

    .second-callout {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: $second-bp) {
    .contact-links {
        grid-column: 3;
    }
}