html {
    box-sizing: border-box;
    font-size: 18px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: var(--color-main-text);
}

.link-highlight {
    color: var(--color-link-highlight);
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

section ul {
    margin-left: 2ch;
}

img, video {
    display: block;
    max-width: 100%;
}

.nobreak {
    white-space: nowrap;
}

.margin-center {
    margin: 0 auto;
}

blockquote {
    background: var(--color-background-accent);
    font-style: italic;
    padding: 20px;
}

blockquote > p {
    margin: 0;
}

li > p {
    display: inline;
}

code {
    background: var(--color-background-accent);
    font-family: monospace;
}

.code-diagram {
    background: var(--color-background-accent);
    width: 30%;
    text-align: center;
    margin-bottom: 1em;
}

// Page layout
html {
    height: 100%;
}

body {
    min-height: 100%;
    width: var(--body-width);
    max-width: var(--max-body-width);
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-default-family);
    background-color: var(--color-main-bg);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto 4fr;
}

header, main, nav {
    grid-column: 1 / -1;
}

header {
    grid-row: 1 / 2;
    text-transform: lowercase;
}

main {
    font-size: var(--font-size-main-small);
}

nav {
    grid-row-end: -1;
    text-transform: lowercase;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: end;
}

.site-links {
    grid-column: 1;
    line-height: 1.2;
}

.contact-links {
    grid-column: 4;
    line-height: 1.64;
}

.callout, .second-callout {
    font-weight: 600;
    margin: 0;
}

.callout {
    font-size: var(--font-size-callout);
}

.second-callout {
    font-size: var(--font-size-callout-small);
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: $first-bp) {
    header {
        grid-column: 2 / -1;
    }

    main {
        font-size: var(--font-size-main-medium);
    }

    .site-links {
        grid-column: 2;
    }

    .contact-links {
        grid-column: 3;
    }
}

@media only screen and (min-width: $second-bp) {
    .callout {
        font-size: 2.7rem;
    }

    .second-callout {
        font-size: 1.5rem;
    }
}
