main.index {
    margin-right: 0;
}

// Index page graphic
.content-graphic {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
    max-width: 460px;
}

.square-container {
    width: 100%;
}

.square-container-inside {
    content: "";
    display: inline-block;
    width: 100%;
    padding-top: 100%;
}

.blue1-container, .black1-container, .black2-container, .red1-container, .black2-container, .yellow1-container {
    grid-row: 4;
}

.gray1-container {
    grid-row: 2;
}

.gray2-container {
    grid-row: 5;
}

.gray1-container, .red1-container, .gray2-container {
    grid-column: 5;
}

.blue1-container {
    justify-self: end;
    grid-column: 2;
}

.black1-container {
    grid-column: 3;
}

.black2-container {
    grid-column: 7;
}

.yellow1-container {
    justify-self: end;
    grid-column: 9;
}

.blue1-container > div {
    background: var(--color-blue);
}

.black1-container > div, .black2-container > div {
    background: var(--color-black);
}

.gray1-container > div, .gray2-container > div {
    background: var(--color-gray);
}

.red1-container > div {
    background: var(--color-red);
}

.yellow1-container > div {
    background: var(--color-yellow);
}
