nav.post {
    margin-top: var(--margin-nav);
}

h3.post {
    border-bottom: 1px solid black;
    text-align: right;
    margin-top: 1.5em;
    text-transform: lowercase;
    font-size: var(--font-size-post-headline);
}

section.post a {
    color: var(--color-link-highlight);
}

p.post + p.post {
    margin-top: 1em;
}

section > ul.post {
    list-style-type: disc;
}

ul.video-post > li {
    margin-top: .6em;
}

main.video-post {
    display: grid;
}

main.video-post div.featured:nth-of-type(1) {
    grid-row: 2;
}

main.video-post div.featured:nth-of-type(2) {
    grid-row: 4;
}

main.video-post div.featured:nth-of-type(3) {
    grid-row: 7;
}

@media only screen and (min-width: $first-bp) {
    header.post {
        grid-column-start: 1;
    }

    section.post {
        margin-top: 0;
        margin-bottom: 0;
    }

    p.post {
        margin-top: 0;
    }
}

@media only screen and (min-width: $second-bp) {
    main.video-post {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        font-size: var(--font-size-main-medium);
    }

    h3.video-post {
        grid-column: 1 / -1;
    }

    main.video-post div.featured:nth-of-type(1) {
        grid-row: 2;
        grid-column: 1;
    }

    main.video-post div.featured:nth-of-type(2) {
        grid-row: 3;
        grid-column: 2;
    }

    main.video-post div.featured:nth-of-type(3) {
        grid-row: 4;
        grid-column: 1;
    }
}
