main.post {
    display: grid;
    font-size: var(--font-size-main-medium);
}

h2.post {
    border-bottom: 1px solid black;
    text-align: right;
    margin-top: 1.5em;
    text-transform: lowercase;
    font-size: var(--font-size-post-headline);
}

img.post, section.post > img, figure > img {
    width: 100%;
    height: auto;
}

section.post > img.inpost {
    width: 20%;
}

section p {
    margin-top: 0;
}

section.post a {
    color: var(--color-link-highlight);
}

p.post + p.post {
    margin-top: 1em;
}

section > ul.post {
    list-style-type: disc;
}

section ul.post > li:last-child {
    margin-bottom: .6em;
}

// Post specific styles
main.single-col {
    grid-template-columns: 1fr;
}

section.single-col > img {
    margin: 0 auto;
    width: 40%;
}

main.video-post div.featured:nth-of-type(1) {
    grid-row: 2;
}

main.video-post div.featured:nth-of-type(2) {
    grid-row: 4;
}

main.video-post div.featured:nth-of-type(3) {
    grid-row: 7;
}

section ul.video-post > li {
    margin-top: .6em;
}

@media only screen and (min-width: $first-bp) {
    header.post {
        grid-column-start: 1;
    }

    section.post {
        margin-top: 0;
        margin-bottom: 0;
    }

    p.post {
        margin-top: 0;
    }
}

@media only screen and (min-width: $second-bp) {
    main.video-post {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    h2.video-post {
        grid-column: 1 / -1;
    }

    main.video-post div.featured:nth-of-type(1) {
        grid-row: 2;
        grid-column: 1;
    }

    main.video-post div.featured:nth-of-type(2) {
        grid-row: 3;
        grid-column: 2;
    }

    main.video-post div.featured:nth-of-type(3) {
        grid-row: 4;
        grid-column: 1;
    }

    main.video-post div.featured:nth-of-type(4) {
        grid-row: 5;
        grid-column: 2;
    }
}
