// Breakpoints
$first-bp: 775px;
$second-bp: 1023px;

:root {
    --font-size-main-smallest: .7rem;
    --font-size-main-small: 1rem;
    --font-size-main-medium: 1.4rem;
    --font-size-heading-small: 1.25rem;
    --font-size-post-headline: 1.6rem;
    --projects-grid-min-small: 300px;
    --projects-grid-min-big: 420px;
    --max-body-width: 1700px;
    --max-graphic-width: 700px;
    --body-width: 95%;

    // Fonts
    --font-default-family: sans-serif;

    // Colors
    --color-white: #fff;
    --color-black: #000;
    --color-gray: gray;
    --color-blue: #2e518b;
    --color-red: #b72033;
    --color-yellow: #fcb622;
    --color-main-bg: #d9dad4;
    --color-main-text: #000;
    --color-main-caption: #000;
    --color-main-heading: white;
    --color-heading-highlight: #3330ff;
    --color-link-highlight: blue;
    --color-background-accent: #c4c4c4;
}
