// Breakpoints
$smallest-bp: 740px;
$first-bp: 1100px;
$category-first-bp: 1300px;
$max-body: 2000px;

:root {
    // Fonts
    --font-default: sans-serif;

    // Colors
    --color-white: #fff;
    --color-black: #000;
    --color-gray: gray;
    --color-blue: #2e518b;
    --color-red: #b72033;
    --color-yellow: #fcb622;
    --color-bg: #d9dad4;
    --main-text-color: #000;
    --main-caption-color: #000;

    --padding-sides: 5px;
    --main-font-size-small: 1rem;
}