@use "variables" as *;

ul.projects-list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--projects-grid-min-small), 1fr));
    grid-gap: 2em;
    justify-content: center;
}

li.preview {
    position: relative;
    padding-top: 100%;
}

a.preview {
    display: flex;
    position: absolute;
    border: 2px solid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h2.preview-heading {
    font-size: var(--font-size-heading-small);
    text-transform: lowercase;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    color: var(--color-main-caption);
    background: black;
}

span.preview-heading {
    color: var(--color-main-heading);
}

span.preview-heading:nth-child(2) {
    color: var(--color-heading-highlight);
}

video.preview {
    margin: 0 auto;
}

@media only screen and (min-width: $first-bp) {
    header.projects {
        grid-column-start: 1;
    }
}

@media only screen and (min-width: $second-bp) {
    ul.projects-list {
        grid-template-columns: repeat(auto-fit, minmax(var(--projects-grid-min-big), 1fr));
    }

    .preview-heading {
        font-size: var(--font-size-main-medium);
    }
}
